# Created by https://www.toptal.com/developers/gitignore/api/visualstudio,c
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudio,c

### Archivos ###
borrador/
borr/
tp10.txt


