@using tp10.Models
@model Tarea

<h2>Eliminar Tarea</h2>

<p>¿Estás seguro de que deseas eliminar la tarea con ID @Model.Id y nombre '@Model.Nombre'?</p>

<form asp-action="DeleteTarea" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
